<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">
	
	<Listeners>
		<Listener class-name = "com.qa.components.Listeners"/>
	</Listeners>
  <test thread-count="5" name="SubmitOrderTest">
    <classes>
      <class name="com.qa.tests.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="ErrorValidationTest">
    <classes>
      <class name="com.qa.tests.ErrorValidationsTest"/>
    </classes>
  </test> <!-- Test -->
  
  
</suite> <!-- Suite -->
